---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<div class="prompt">
		<div class="fabian thumb"></div>

		<span class="indicator">Fabian's Prompt</span>
		<p set:html={post.data.prompt}></p>
	</div>

	<div class="content">
		<div class="message_ctnr">
			<div class="ia_photo">
				<div class="thumb"></div>
				<hr>
			</div>
			<div class="messages">
				<span class="indicator">The Blog Post:</span>
				<Content />
			</div>
		</div>
	</div>
</BlogPost>
