---
    import Layout from '../../layouts/Layout.astro'

    import '../../css/jobs.css'
---

<Layout title="Join Christina's Cleaners" bodyClass="jobs">
    <main>
        <div class="width">
            <div class="intro">
                <nav>
                    <a class="current" href="/jobs/">English</a>
                    <a href="/jobs/uk" title="View in ukrainian language">Yкраїнська</a>
                </nav>
                <h1>
                    Join Our Team - <span>Cleaning with a Purpose</span>
                </h1>
    
                <p>
                    <strong>
                        <b>At Christina's Cleaners, we believe in empowering individuals through meaningful work.</b> We're not just a cleaning company; we're a platform for change, offering rewarding job opportunities to Ukrainian female refugees in Oxfordshire.
                    </strong>
                
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.67 17.33" fill="currentcolor"><polygon points="12.33 0 10.89 5.13 8 6.64 10.89 8.14 12.33 12.67 13.78 8.14 16.67 6.63 13.78 5.13 12.33 0"/><polygon points="2.67 4 2 6.67 0 7.33 2 8 2.67 10.67 3.33 8 5.33 7.33 3.33 6.67 2.67 4"/><polygon points="6.87 10.67 6.2 13.33 4.2 14 6.2 14.67 6.87 17.33 7.54 14.67 9.54 14 7.54 13.33 6.87 10.67"/></svg>
                </p>
            </div>

            <div class="content">
                <h2>Why Join Us?</h2>
    
                <ol>
                    <li>
                        <p><b>Purposeful Impact:</b> At Christina's Cleaners, your work extends beyond cleaning services. As part of our team, you contribute directly to our mission of social and economic integration for Ukrainian female refugees in the UK.</p>
                    </li>
    
                    <li>
                        <p><b>Tailored Approach:</b> We understand and value the unique skills and experiences you bring. Our team will work closely with you to develop a flexible schedule and job conditions that accommodate your needs.</p>
                    </li>
    
                    <li>
                        <p><b>Continuous Learning:</b> We provide training and development opportunities to help you grow your professional skills, with the potential for career advancement within our company.</p>
                    </li>
    
                    <li>
                        <p><b>Eco-Friendly Ethos:</b> We use only eco-friendly cleaning products, ensuring the health and safety of our team members and clients, and contributing positively to the environment.</p>
                    </li>
    
                    <li>
                        <p><b>Comprehensive Support:</b> Our management is always available to discuss your service preferences and provide the necessary resources for you to perform your job effectively and efficiently.</p>
                    </li>
                </ol>

                <h2>What We Offer</h2>
                
                <ul>
                    <li>
                        <p>Competitive pay rates.</p>
                    </li>

                    <li>
                        <p>A supportive, inclusive, and respectful work environment.</p>
                    </li>

                    <li>
                        <p>The opportunity to make a positive impact in the community.</p>
                    </li>
                </ul>

                <h2>Who We're Looking For</h2>

                <p>We're looking for motivated, hardworking, and reliable individuals who are committed to delivering high-quality cleaning services and making a positive social impact. <strong>No previous experience is necessary, as full training will be provided.</strong> A passion for cleanliness and a keen eye for detail are a must.</p>

                <p>If you're a Ukrainian female refugee looking to rebuild your life in the UK, we want to hear from you. Join us and turn your work into a meaningful journey of empowerment and growth.</p>

                <p><b>Ready to start your career with Christina's Cleaners?</b></p>

                <div class="cta_ctnr">
                    <a href="#apply" class="cta apply">Apply Now</a>

                    <p>Let's clean with a purpose, together.</p>
                </div>
            </div>
        </div>

        <div class="contact_ctnr" id="apply">
            <div class="width">
                <form name="job-application-english" method="POST" data-netlify="true">
                    <span class="divider">
                        Contact information
                        <hr>
                    </span>
                    
                    <p>
                      <label>First name: <input type="text" name="name" required/></label>
                    </p>
                    <p>
                      <label>Surname: <input type="text" name="name" required/></label>
                    </p>
        
                    <p>
                      <label>Email: <input type="email" name="email" required/></label>
                    </p>
        
                    <p>
                      <label>Phone number: <input type="tel" name="phone" required/></label>
                    </p>

                    <span class="divider">
                        Location
                        <hr>
                    </span>
        
                    <p>
                      <label>Are you able to travel for work within Oxford City Centre and surrounding villages? <input type="text" name="able-to-travel" required/></label>
                    </p>

                    <span class="divider">
                        Availability
                        <hr>
                    </span>
        
                    <p>
                      <label>What days of the week are you available to work? <input type="text" name="days-available" required/></label>
                    </p>
        
                    <p>
                      <label>How many hours per week are you available to work? <input type="text" name="hours-per-week" required/></label>
                    </p>
        
                    <p>
                      <label>Are you available for emergency same-day cleaning services? <input type="text" name="same-day-cleaning-availability" required/></label>
                    </p>

                    <span class="divider">
                        Experience
                        <hr>
                    </span>
        
                    <p>
                      <label>How many years of cleaning experience do you have? <input type="text" name="years-of-experience" required/></label>
                    </p>
        
                    <p>
                      <label>Have you worked for a cleaning company before? <input type="text" name="have-worked-for-cleaning-companies-before" required/></label>
                    </p>
        
                    <p>
                      <label>What types of cleaning services are you most experienced in (e.g. regular domestic cleaning, deep cleaning, end-of-tenancy cleaning)? <input type="text" name="types-of-cleaning-more-experienced" required/></label>
                    </p>

                    <span class="divider">
                        Elegibility
                        <hr>
                    </span>
        
                    <p>
                      <label>Do you have the legal right to work in the UK? <input type="text" name="legal-right-to-be-in-uk" required/></label>
                    </p>

                    <span class="divider">
                        Other skills and qualifications
                        <hr>
                    </span>
        
                    <p>
                      <label>Do you have any special skills, qualifications, or certifications that would benefit you in this role (e.g. a driving license, cleaning certifications, first aid training)? <input type="text" name="special-skills-and-qualifications" required/></label>
                    </p>
        
                    <p>
                      <label>Is there anything else you would like us to know about your suitability for this role? <input type="text" name="additional-information" required/></label>
                    </p>
        
                    <p>
                      <button class="cta" type="submit" name="submit">Apply</button>
                    </p>
                </form>

                <script>
                    import "../../js/form.js";
                </script>
            </div>
        </div>
    </main>
</Layout>