---

import ContactSection from "../../components/ContactSection.astro";

import Layout from '../../layouts/Layout.astro';
---


<Layout title="Contact us">
        <main>
            <ContactSection />
        </main>
</Layout>