---
import Layout from '../layouts/Layout.astro';
import ContactSection from '../components/ContactSection.astro';

import '../css/home.css'
---

<Layout title="Fabian's Office Floor Cleaning Specialists In London">
	<script>
		import "../js/main.js"
		import "../js/lazyload.js"
	</script>

	<main>
        <section class="intro">
            <div class="width">
                <div class="ctnr">
                    <div class="content">
                        <h1 class="reveal"><span><b>Need sparkling office floors in London?</b></span><span>A simple job done well awaits.</span></h1>
    
                        <div class="cta_ctnr reveal">
                            <a class="main cta" href="/contact/" aria-label="Get a quote">Get a Quote</a>
                            <a href="#about" aria-label="Go to About Us">About</a>
                        </div>
                    </div>
                    
                    <div class="vid_ctnr reveal">
                        <video src="/fabian-video.mp4" playsinline loop disablepictureinpicture poster="/fabian-video-poster.jpg"></video>

                        <button class="play_state" type="button" aria-label="play or pause video button"></button>
                        <button class="sound_state" type="button" aria-label="toggle sound button"></button>
                    </div>

                    <script>
                        const introVid = document.querySelector('.intro video')
                        const videoStateButton = document.querySelector('.vid_ctnr .play_state')
                        const soundStateButton = document.querySelector('.vid_ctnr .sound_state')
                        // let isPlaying = false;

                        introVid.addEventListener('click', togglePlayState)
                        videoStateButton.addEventListener('click', togglePlayState)

                        function togglePlayState() {
                            if(introVid.paused) {
                                introVid.play()

                                videoStateButton.style.backgroundImage = 'url("/icons/play.svg")';

                                videoStateButton.style.animation = 'unset'
                                setTimeout(() => {
                                videoStateButton.style.animation = 'fade_bt 0.6s forwards'
                                }, 200);

                            } else {
                                introVid.pause()

                                videoStateButton.style.backgroundImage = 'url("/icons/pause.svg")';

                                videoStateButton.style.animation = 'unset'

                                setTimeout(() => {
                                videoStateButton.style.animation = 'fade_bt 0.6s forwards'
                                }, 200);
                            }
                        }

                        soundStateButton.addEventListener('click', function() {
                            if(introVid.muted == false) {
                                introVid.muted = true;

                                soundStateButton.style.backgroundImage = 'url("/icons/sound-off.svg")';
                            } else if(introVid.muted == true) {
                                console.log('dandkasmsd')
                                introVid.muted = false;

                                soundStateButton.style.backgroundImage = 'url("/icons/sound-on.svg")';
                            }
                        })
                    </script>
                </div>
            </div>

            <a href="#services" class="fold_bt" aria-label="Go down button">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path fill="currentColor" d="m208.49 152.49l-72 72a12 12 0 0 1-17 0l-72-72a12 12 0 0 1 17-17L116 187V40a12 12 0 0 1 24 0v147l51.51-51.52a12 12 0 0 1 17 17Z"/></svg>
            </a>
        </section>

        <section class="why top_distance" id="about">
            <div class="width">
                <h2 class="reveal">Hey, I'm Fabian!</h2>

                <div class="txt reveal">
                    <p>I've been cleaning office floors for years. It's my passion. And it's not just any floor cleaning; <strong>I'm a carpet cleaning specialist, making them look good as new.</strong> I've let AI handle this website to focus on what I love – bringing life back to worn-out carpets across London.</p>
                </div>
            </div>
        </section>

        <section class="blog">
            <div class="ctnr">
                <h2 class="reveal">My Blog</h2>

                <div class="txt reveal">
                    <p>Welcome to my blog! I'll confess – I'm too busy cleaning to write these. So, my AI friend pens down all these helpful tips, tricks, and insights about office carpet care in London. Dive in and enjoy!</p>
                </div>

                <a href="/blog/" class="cta reveal" aria-label="check my blog">Check My Blog</a>
            </div>
        </section>

        <section class="services" id="services">
            <div class="width">
                <h2 class="reveal">Services</h2>

                <div class="txt reveal">
                    <p>Specialised <strong>office carpet cleaning</strong>, deep restoration, stain removal, and regular maintenance – I do it all. No job's too big, no stain's too tough.</p>
                </div>

                <div class="ctnr">
                    <div class="box reveal_delay">
                        <div class="content">
                            <h3>
                                Office Carpet Cleaning
                            </h3>

                            <p>Everyday traffic can leave your office carpets looking worn. I'll bring them back to life!</p>
                        </div>

                        <a class="cta" href="/contact/" aria-label="Get 10% OFF!">Get a Quote!</a>
                    </div>
                    
                    <div class="box reveal_delay">
                        <div class="content">
                            <h3>
                                Deep Restoration
                            </h3>

                            <p>Have a carpet that's seen better days? Let me work my magic and restore its former glory.</p>
                        </div>

                        <a class="cta" href="/contact/" aria-label="Get a quote">Get a Quote</a>
                    </div>
                    
                    <div class="box reveal_delay">
                        <div class="content">
                            <h3>
                                Stain Removal
                            </h3>

                            <p>Spills happen, but they don't have to stay. Say goodbye to stubborn stains.</p>
                        </div>

                        <a class="cta" href="/contact/" aria-label="Get a quote">Get a Quote</a>
                    </div>
                    
                    <div class="box reveal_delay">
                        <div class="content">
                            <h3>
                                Regular Maintenance
                            </h3>

                            <p>Keep your carpets looking their best with regular touch-ups and care.</p>
                        </div>

                        <a class="cta" href="/contact/" aria-label="Get a quote">Get a Quote</a>
                    </div>
                </div>
            </div>

            <!-- <div class="splash1"></div>
            <div class="splash2"></div> -->
        </section>

        <hr>

		<section class="sectors">
			<div class="ctnr">
				<h2 class="reveal">Sectors</h2>

                <div class="txt reveal">
                    <p>Whether you're in finance, tech, design, or anything in between, I’ve got the expertise to handle your office’s unique cleaning needs.</p>
                </div>

                <a class="main cta" href="/contact/" aria-label="Get a quote">Get a Quote</a>
			</div>
		</section>

        <hr>

		<section class="clients">
			<div class="ctnr">
				<h2 class="reveal">Clients</h2>

                <div class="txt reveal">
                    <p>From <b>multinational corporations</b> to <b>bustling start-ups</b>, my clients know one thing: when Fabian's on the job, a pristine carpet is guaranteed. Some of the leading office spaces in London shine because of my touch.</p>
                </div>

				<div class="content">
					<img class="reveal_delay" src="/client-logos/apptio.png" alt="Apptio logo" width="152" height="80"/>

					<img class="reveal_delay" src="/client-logos/outreach.png" alt="Outreach logo" width="152" height="80"/>

					<picture class="reveal_delay">
						<source srcset="/client-logos/the-salvation-army.webp">
						<img src="/client-logos/the-salvation-army.png" alt="The Salvation Army logo" width="72" height="80">
					</picture>

					<img class="reveal_delay" src="/client-logos/spire-healthcare.png" alt="Spire Healthcare logo" width="152" height="80"/>

					<picture class="reveal_delay">
						<source srcset="/client-logos/xero.webp">
						<img src="/client-logos/xero.png" alt="Xero logo" width="80" height="80">
					</picture>
				</div>
			</div>
		</section>

        <!-- <section class="about" id="about">
            <video class="lazy" poster="" autoplay playsinline muted loop>
                <source data-src="" type="video/mp4">
            </video>
            
            <div class="width">
                <div class="ctnr">
                    <h2>My Philosophy</h2>

                    <p>It's not rocket science. I believe in honesty, hard work, and doing a simple job incredibly well. And if that means using AI for my website while I focus on your carpets, so be it.</p>

                    <div class="cta_ctnr">
                        <a href="/contact/" class="cta" aria-label="Get a quote">Get a quote</a>

                        <a href="tel:447425078684" aria-label="Call us at +44 7947 291790">+44 7947 291790</a>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="where" id="location">
            <div class="ctnr">
                <div class="content">
                    <h2 class="reveal">Where?</h2>
    
                    <p class="reveal">I've made <strong>London</strong> shine, one office at a time. From Canary Wharf to Covent Garden, there’s a good chance I've beautified a floor near you.</p>

                    <div class="cta_ctnr reveal">
                        <a href="/contact/" class="main cta" aria-label="Get a quote">Get a quote</a>

                        <a href="tel:447947291790" aria-label="Call us at +44 7947 291790">+44 7947 291790</a>
                    </div>
                </div>

                <!-- <iframe class="map" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=6-8+Bonhill+St,+London+EC2A+4BX,+UK&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe> -->

                <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=6-8%20Bonhill%20St,%20EC2A%204BX.+(Fabian's)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </section>

        <!-- <section class="testimonials" id="testimonials">
			<script>
				import "../js/tiny-slider.js"
				import "../css/tiny-slider.css"
			</script>

            <div class="width">
                <div class="ctnr">
                    <h2>Testimonials</h2>

                    <div class="txt">
                        <p>At Christina's Cleaners, we believe our work speaks for itself, but we understand the value of hearing it from those who have experienced our services first-hand. <strong>Here are some testimonials from our satisfied clients in Oxfordshire.</strong></p>
                    </div>
                    
                    <div class="slider">
                        <div class="box">
                            <div class="flex">
                                <div class="profile">
                                    <div class="photo p1"></div>

                                    <div>
                                        <span class="name">Violando</span>
                                        <span class="location">Summertown</span>
                                        <hr>
                                    </div>
                                </div>

                                <blockquote>
                                    <p>"Christina has cleaned for me on several occasions, and has even had the keys to our house to feed our cats when we have been on holiday. Christina is cheerful, friendly and entirely trustworthy. She is a hard worker and a good cleaner and has always left our house spic and span when she has cleaned for us. I have no hesitation in recommending her services."</p>
                                </blockquote>
                            </div>
                        </div>

                        
                        <div class="box">
                            <div class="flex">
                                <div class="profile">
                                    <div class="photo p2"></div>

                                    <div>
                                        <span class="name">Andrei</span>
                                        <span class="location">Headington</span>
                                        <hr>
                                    </div>
                                </div>

                                <blockquote class="short">
                                    <p>"Christina's Cleaners are perfect! Easy to deal with and punctual. Would recommend to anyone!"</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

                    
        <ContactSection></ContactSection>
	</main>
</Layout>

<style>
	
</style>
