---
    import '../css/contact-section.css'

    import NativeForm from '../components/NativeForm.astro'
---

<section class="contact" id="get-a-quote">
    <div class="vishyvka"></div>

    <div class="width">
        <div class="ctnr">
            <h2 id="quote-heading">Get a Quote</h2>
        
            <div class="txt">Christina's Cleaners operates across <strong>Greater London</strong> and <strong>Oxford City</strong>.</div>

            <!-- <NativeForm/> -->

            <!-- CRM FORM -->
             <script is:inline src="https://christinas-cleaners.launch27.com/jsbundle"></script><iframe id="booking-widget-iframe" src="https://christinas-cleaners.launch27.com/quotes/new?w" style="border:none;width:100%;min-height:600px;overflow:hidden" scrolling="no"></iframe>
            
            <p class="email_us">Need more details? Drop us an email at <a href="mailto:info@christinas-cleaners.co.uk" aria-label="E-mail us to info@christinas-cleaners.co.uk">info@christinas-cleaners.co.uk</a>.</p>
        </div>
    </div>
</section>