---
    import '../css/contact-section.css'
---

<section class="contact" id="get-a-quote">
    <div class="vishyvka"></div>

    <div class="width">
        <div class="ctnr">

            <form id="short-form" name="quote-submission" method="POST" data-netlify="true">
                <h2 id="quote-heading">Get a Quote</h2>
            
                <div class="txt"><strong>Christina's Cleaners operates across Oxford and its surrounding villages</strong>, including Headington, Cowley, Marston, Botley, and many more.</div>
            
                <div class="content">
                    <fieldset class="visible">
                        <legend>About You</legend>

                        <div>
                            <p>
                                <label for="name">Your Name:
                                    <input type="text" id="name" name="name" autocomplete="name">
                                </label>
                            </p>
            
                            <p>
                                <label for="surname">Surname:
                                    <input type="text" id="surname" name="surname" autocomplete="family-name">
                                </label>
                            </p>
            
                            <p>
                                <label for="email">Email:
                                    <input type="email" id="email" name="email" autocomplete="email" required>
                                </label>
                            </p>
            
                            <p>
                                <label for="phone">Contact Number:
                                    <input type="tel" id="phone" name="phone" autocomplete="tel">
                                </label>
                            </p>
            
                            <p>
                                <label for="contactPreference">Preferred method of contact:
                                    <select id="contactPreference" name="contactPreference">
                                        <option disabled selected value="">--- Select ---</option>
                                        <option value="Email">Email</option>
                                        <option value="Phone">Phone</option>
                                    </select>
                                </label>
                            </p>
            
                            <p>
                                <label for="message">Message:
                                    <textarea id="message" name="message" autocomplete="tel"></textarea>
                                </label>
                            </p>
                        </div>
                    </fieldset>
                </div>
                <p>
                    <button class="cta" type="submit" name="submit">Get a Quote!</button>
        
                    <p class="obs">Please note that your booking is <b>subject to confirmation</b>. We will contact you shortly to confirm the details of your booking and provide you with a quote.</p>
                </p>
            </form>

            <script>
                import "../js/form.js"
            </script>
            
            
            <p class="email_us">Need more details? Drop us an email at <a href="mailto:info@christinas-cleaners.co.uk" aria-label="E-mail us to info@christinas-cleaners.co.uk">info@christinas-cleaners.co.uk</a>.</p>
        </div>
    </div>
</section>