---
    import {DISCOUNT_PERCENTAGE} from '../consts.js'
---

<div class="exit_popup_ctnr hidden">
    <aside class="exit_popup">
        <div class="vishyvka"></div>
        <p class="title"><b>{DISCOUNT_PERCENTAGE}% OFF</b> YOUR FIRST CLEAN.</p>
    
        <p class="text">We're certain that we will impress you.</p>
    
        <a class="cta" href="/contact/" aria-label="Book Now">Book Now.</a>
    
        <button role="button" class="close" aria-label="close popup" title="close_popup"></button>
        <div class="vishyvka"></div>
    </aside>

    <span class="dismiss">I don't want a discount</span>
</div>



<style>

    .exit_popup_ctnr {
        position: fixed;
        inset: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .exit_popup {
        position: relative;
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        background-color: var(--light);
        width: fit-content;
        padding: clamp(2rem,17vmin,8rem) clamp(2rem,4vw,10rem);
        border-radius: clamp(1rem,3vw,1.5rem);
        text-align: center;
        max-width: 85vw;
        min-width: clamp(10rem, 80vw, 61rem);
        box-sizing: border-box;
        border: 0.3rem solid var(--c1-c);
        box-shadow: 0 0rem 22rem 8rem var(--c2-d);
        overflow: hidden;
    }

    .exit_popup_ctnr.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .title {
        font-size: clamp(2.1rem,7vmin,3.6rem);
        font-weight: 700;
        color: var(--c2-a);
    }

    .title b {
        color: var(--c2-b);
        display: block;
        font-size: 2em;
    }

    .text {
        font-size: clamp(1.8rem, 3vw, 1.9rem);
        margin-block: clamp(1rem,4vw,1.5rem) clamp(1rem,4vw,2.5rem);
        font-weight: 600;
        color: var(--dark-a);
        width: 90%;
    }

    .cta {
        background-color: var(--c2-a);
        color: var(--light);
        font-weight: 600;
    }

    .close {
        position: absolute;
        top: clamp(1rem,8vmin,4rem);
        right: clamp(1rem,2vmin,2rem);
        width: 2rem;
        height: 2rem;
    }

    .close::before, .close::after {
        content:'';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 0.4rem;
        background-color: var(--dark-a);
        position: absolute;
    }

    .close::after {
        transform: rotate(-45deg);
    }

    .close::before {
        transform: rotate(45deg);
    }

    .vishyvka {
        position: absolute;
    }

    .vishyvka:first-of-type {
        top: 0;
    }

    .vishyvka:last-of-type {
        bottom:0;
        transform: scaleY(-1);
    }
    
    .dismiss {
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--light);
        position: relative;
        cursor: pointer;
    }
</style>

<script is:inline>
    const closeBts = document.querySelectorAll('.exit_popup .close, .exit_popup .cta, .dismiss')

    let exitPopup = document.querySelector('.exit_popup_ctnr');

    let exitPopupHasAppeared = false;

    function closePopup() {
        exitPopup.classList.add('hidden')
    }

    for(let i = 0; i < closeBts.length; i++) {
        closeBts[i].addEventListener('click', closePopup)
    }

    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(() => {
            document.addEventListener("mouseleave", function(event){
                if(!exitPopupHasAppeared) {
                    exitPopupHasAppeared = true;

                    exitPopup.classList.remove('hidden')
                } else {
                    return;
                };
            })
        }, 20);
    });

    let wentDown = false;
    let wentBack = false;

    let windowCurrentPosition;

    if(window.matchMedia('(max-width:600px)').matches) {
        setTimeout(() => {
            window.addEventListener('scroll', function() {
                if(!wentDown) {
                    if(window.scrollY > (document.body.scrollHeight / 3)) {
                        wentDown = true;
                        windowCurrentPosition = window.scrollY;
                        console.log(wentDown)
                    }
                } else {
                    if(window.scrollY < windowCurrentPosition) {
                        if(!exitPopupHasAppeared) {
                            exitPopupHasAppeared = true;
                            
                            exitPopup.classList.remove('hidden')
                        } else {
                            return;
                        };
                    }
                }
            })
        }, 20);
    }

</script>