---

---

<a href="https://cleannetwork.co.uk/" target="_blank">
    Part of
    
    <img src="https://cleannetwork.co.uk/logo/tcn-logo-360.png" alt="The Clean Network Logo" title="The Clean Network" loading="lazy">
</a>

<style>
    a {
        background-color: #106aa6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--light);
        gap: 1rem;
        padding-block: clamp(1.5rem, 5vmin, 2rem);
        font-size: 1.7rem;
        font-weight: 300;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color:#0974bc;
        transition:background-color 0s ease;
    }

    a img {
        width: clamp(5rem, 42vw, 19rem);
    }
</style>