---

---

<a href="https://cleannetwork.co.uk/" target="_blank">
    <div class="ctnr">
        <span>
            Part of
        </span>
        
        <img src="https://cleannetwork.co.uk/logo/tcn-logo-360.png" alt="The Clean Network Logo" title="The Clean Network" loading="lazy">
    </div>
</a>

<style>
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #106aa6;
        color: var(--light);
        padding-block: clamp(1.5rem, 5vmin, 2rem);
        font-size: 1.7rem;
        font-weight: 300;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color:#0974bc;
        transition:background-color 0s ease;
    }

    a .ctnr {
        width: clamp(5rem, 42vw, 17rem);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
    }

    a span {
        position: absolute;
        right: calc(100% + 1.5rem);
        width: max-content;
    }
</style>