main {

}

.return {
    position: absolute;
    top: calc(var(--header-height) + var(--strip-height) + var(--vishyvka-height));
    z-index: 2;
    padding: 1rem 1.6rem;
    background-color: var(--c2-a);
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light-a);
    border-right: 0.3rem solid var(--c2-b);
    border-bottom: 0.1rem solid var(--c2-b);
    width: fit-content;
    padding-left: var(--corner-width);
    border-radius: 0 0 0.8rem 0;
    -webkit-border-radius: 0 0 0.8rem 0;
    -moz-border-radius: 0 0 0.8rem 0;
    -ms-border-radius: 0 0 0.8rem 0;
    -o-border-radius: 0 0 0.8rem 0;
}

time {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--c2-b);
    margin-bottom: 0.4rem;
}



@media screen and (min-width:800px) {
    .back {
        margin-inline: initial;
    }
}