main {
    padding-block: clamp(2rem, 15vw, 6rem) clamp(2rem, 5vw, 5rem);
}

main section {
    width: var(--width);
    margin-inline: auto;
}

.back {
    /* margin-bottom: 2rem; */
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(15rem, 75vw, 50rem), 1fr));
    gap: clamp(2rem, 8vmin, 5rem);
}

.posts, .posts ol, .posts li {
    padding: unset;
    list-style: none;
}

.posts li {
    flex: 1;
    /* box-shadow: 1rem 0rem 3rem #DEF; */
    font-weight: 600;
    background-color: var(--light-a);
}

.posts li a {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.posts .hero {
    background-color: var(--light-b);
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center;
    flex: 1;
}

.posts .content {
    display: flex;
    flex-direction: column;
    /* width: clamp(15rem, 85vw, 60rem); */
    justify-content: center;
    flex: 1;
    padding: clamp(1rem, 5vw, 3rem);
}

.posts .description {
    font-size: clamp(1.5rem, 4vw, 1.6rem);
    margin-block: 0 1rem;
    font-weight: 500;
    line-height: 1.35;
    cursor: pointer;
}

.posts .read {
    font-size: clamp(1.5rem, 4vw, 1.6rem);
    font-weight: 500;
    line-height: 1.35;
    color: #ABC;
    letter-spacing: 0.05rem;
}

.posts h2 {
    font-size: clamp(2.6rem, 7.2vw, 3rem);
    line-height: 1.2;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.05rem;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    margin-bottom: 0.6rem;
}

.posts li:hover h2 {
    color:var(--c2);
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -ms-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
}

.posts a {
    /* border: 0.1rem solid #CDD; */
}

h1 {
    margin-bottom: 2rem;
    font-size: clamp(3rem, 10vw, 6rem);
    color: var(--c2);
    line-height: 1.1;
}

.posts hr {
    width: clamp(24rem, 62vw, 120rem);
    border: unset;
    height: 0.1rem;
    background-color: var(--light-b);
    margin-block: clamp(1rem, 5vw, 2rem);
}




@media screen and (min-width:800px) {

    .posts {
    }

    .posts .content {
        
    }

    .posts li {
        max-width: 70rem;
    }

    .posts li a {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
    }

    .posts .hero {
        max-width: 42%;
    }
}