
section.contact {
    display: flex;
    background-color: var(--c1);
    padding: 0 0 clamp(6rem, 10vw, 9rem);
    flex-direction: column;
    align-items: center;
    scroll-margin: var(--header-height);
    position: relative;
    z-index: 1;
}

.contact .width {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .ctnr {
    /* width: clamp(10rem, 85vw, 90rem); */
    background-color: var(--light);
    border-radius: 3rem;
    padding: 4rem clamp(0.8rem, 5vw, 4rem) 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 2.2rem 1.3rem -1.2rem rgb(191 163 0 / 50%);
}

.contact .ctnr::before {
    content: '';
    position: absolute;
    width: 14rem;
    height: 0.9rem;
    background-color: var(--c2-b);
    top: -0.45rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    border-radius: 2rem;
}

.contact h2 {
    text-align: center;
    font-size: clamp(2rem, 9vw, 4rem);
    color: var(--c2-b);
    font-weight: 700;
}

.contact .email_us {
    text-align: center;
    font-size: clamp(1rem, 3.5vw, 1.4rem);
    font-weight: 500;
    color: var(--c2-d);
    line-height: 1.8;
}

.contact .email_us a {
    color: var(--c2);
    font-weight: 600;
    background-color: var(--light-a);
    padding: 0.3rem 0;
    white-space: nowrap;
}



.contact .vishyvka {
    margin-bottom: clamp(6rem, 10vw, 7rem);
    position: sticky;
    top: var(--header-height);
    z-index: 1;
}

.contact h2+.txt {
    font-weight: 500;
    max-width: 40rem;
    text-align: center;
    font-size: clamp(1.4rem, 3.6vmin, 1.55rem);
    margin: 1rem auto 3rem;
    line-height: 1.5;
}

.contact h2+.txt b,
.contact h2+.txt strong {
    font-weight: 600;
}

.contact form .obs {
    line-height: 1.5;
    color: var(--c2);
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    max-width: 53rem;
    margin: 2rem auto 0;
    width: 93%;
}

.contact form>.flex {
    display: flex;
    flex-direction: column;
    width: clamp(10rem, 85vw, 30rem);
    gap: 2rem;
    width: 100%;
}

.contact form .content {
    display: flex;
    gap: clamp(2rem, 6vw, 3rem);
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    align-items: center;
}

.contact form fieldset {
    border: 0.1rem solid #dae6f1;
    border-radius: 1rem;
    padding: 2rem 1.6rem 2.5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem 3.5rem;
    box-sizing: border-box;
    justify-content: center;
}

.fieldset_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: sticky;
    bottom: 2rem;
}

.fieldset_controls button:not(.disabled):hover {
    background-color: var(--c2-c);
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
}

.fieldset_controls button:not(.disabled) {
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}

.fieldset_controls .next.disabled,
.fieldset_controls .back.disabled {
    background-color: var(--light-a);
    color: var(--c2-e);
    cursor: default;
}

.fieldset_controls .next,
.fieldset_controls .back {
    padding: 1rem 2rem;
    background-color: var(--c2-b);
    color: var(--light);
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.contact .content > fieldset:not(.visible) {
    display: none;
}

.contact p span.flex {
    align-items: center;
    gap: 1rem;
}

.contact p span.flex input[type=number] {
    min-width: unset;
    width: 10rem;
}

.contact form .content > fieldset>div {
    min-width: clamp(10rem, 70vw, 37rem);
    width: clamp(10rem, 70vw, 37rem);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 1;
}

.contact form .content > fieldset p {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact form .content > fieldset legend {
    padding-inline: 1rem;
    color: var(--c2);
    font-weight: 500;
}

.contact form .content>div {
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1.5rem; */
}

.contact .highlights {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow-y: auto;
}

.contact .highlights.show {
    visibility: visible;
    opacity: 1;
    height: auto;
    max-height: unset;
    overflow-y: unset;
}

.contact .highlights .heading {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    padding-block: 2rem;
    position: sticky;
    top: calc(var(--header-height) + var(--vishyvka-height));
    background-color: var(--light);
}

.contact .highlights fieldset {
    justify-content: flex-start;
    gap: 0.5rem;
    flex-direction: column;
    padding-block: 1.2rem 1.5rem;
    margin-bottom: 3rem;
    border-color: var(--light-b);
}

.contact .highlights fieldset.red_zone legend {
    color: crimson;
}

.contact .highlights fieldset.green_zone legend {
    color: green;
}

.contact .highlights fieldset.blue_zone legend {
    color: blue;
}

.contact .highlights fieldset > label {
    display: flex;
    gap: 0.4rem;
    flex-direction: row;
}

.contact .highlights fieldset input {
    width: initial;
    display: initial;
    min-width: initial;
}

.contact .highlights fieldset legend {
    font-size: 1.8rem;
}

.contact .highlights fieldset legend sub {
    display: block;
    font-size: 1.4rem;
    color:var(--dark);
}