:root {
    --light: #ffffff;
    --light-a: #e6fff3;
    --light-b: #d9e8f6;

    --dark: #242d35;
    --dark-a: #225440;

    --primary: #F1C40F;
    --primary-d1: #bfa300;
    --primary-d2: #403600;
    --primary-l1: #ffe471;

    --c2: #00A859;
    --c2-a: #008F4C;
    --c2-b: #00B561;
    --c2-c: #00F583;
    --c2-d: #001b38;
    --c2-e: #86d995;

    --width: clamp(24rem, 84vw, 150rem);
    --header-height: clamp(5rem, calc(7vh + 7vw), 8rem);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
    font-family: Signika;
    src: url(/fonts/SignikaNegative-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100-900;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

body,
button,
input,
textarea,
select {
    font-family: 'Signika', sans-serif;
}

strong, b {
    font-weight: inherit;
}

body {
    background-color: var(--light);
    color: var(--dark-a);
    position: relative;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    width: auto;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--light);
    background-color: var(--dark);
}

/* ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--c3);
}

::-webkit-scrollbar-thumb {
    background: white;
} */

main {
    position: relative;
    z-index: 1;
    flex: 1;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}

button:focus-visible {
    outline: 0.1rem solid transparent;
}

button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.width {
    width: var(--width);
}

textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 8rem;
    max-height: 30rem;
}
    
.cta_ctnr {
    display: flex;
    align-items: center;
    gap: clamp(1.5rem, 2vw, 2.1rem);
    font-weight: 600;
    max-width: 100%;
}

.cta_ctnr a:not(.cta) {
    font-size: 1.8rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}
    
.cta {
    border-radius: 1rem 0.4rem;
    font-size: clamp(1.2rem, 4.5vw, 1.8rem);
    padding: clamp(1rem, 3.5vw, 1.5rem) clamp(0.9rem, 5vw, 3rem);
    height: fit-content;
    line-height: 1;
    width: fit-content;
    outline-offset: -0.3rem;
    /* outline: 0.1rem solid #f8f8ff44; */
    text-align: center;
    background-image: linear-gradient(170deg, #ffffff66, transparent 62%);
    transition: filter 0.3s ease;
    letter-spacing: 0.03rem;
}

.cta:hover {
    filter: brightness(1.1)
}






/* Form defaults */


form {
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    /* gap: clamp(2rem, 2vw, 4rem); */
    font-size: 1.45rem;
    justify-content: space-evenly;
    width: 100%;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.05rem;
}

input,
textarea,
select {
    padding: clamp(0.8rem, 1vw, 1rem);
    border-radius: 0.6rem;
    border: unset;
    background-color: #E8E8F9;
    font-size: 1em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

input[type='date'],
input[type='time'] {
    line-height: 2.4;
    padding: unset;
    text-indent: clamp(0.8rem, 1vw, 1rem);
}

form button[type='submit'] {
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: var(--c2-b);
    color: var(--light);
    padding: 1.5rem 4rem;
    border-radius: 0.6rem;
    margin-top: clamp(2rem, 8vw, 3.5rem);
    letter-spacing: 0.1rem;
    cursor: pointer;
    width: 100%;
    max-width: 40rem;
    font-weight: 400;
}

form button[type='submit'].disabled {
    background-color: var(--c2-e);
    font-weight: 500;
    pointer-events: none;
}

body form button[type='submit'].submited {
    background-color: var(--primary);
    color: var(--c2-b);
    font-weight: 600;
    pointer-events: none;
}
















.bg.icon.tel {
    background-image: url(/icons/tel.svg);
}

.bg.icon.facebook {
    background-image: url(/icons/facebook.svg);
}

.bg.icon.instagram {
    background-image: url(/icons/instagram.svg);
}

.bg.icon.mail {
    background-image: url(/icons/mail.svg);
}








































@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 13px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 22px;
    }
}