body {
    color: var(--light);
}

main {
    background-color: var(--c2-d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(3rem, 5vw, 6rem) 0 clamp(3rem, 15vw, 8rem) 0;
}

main .width {
    width: clamp(24rem, 84vw, 76rem);
}

.hambt {
    position: relative;
    width: clamp(2.5rem, 8vw, 3.5rem);
    height: clamp(2.5rem, 8vw, 3.5rem);
}

.hambt div {
    border-radius: 0.2rem;
}

h1 {
    font-size: clamp(2.5rem, 9vw, 6.2rem);
    line-height: 1.15;
    margin: 0 0 1.5rem;
    color: var(--c2-c);
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.intro p svg {
    width: clamp(2rem, 6vw, 3rem);
    display: block;
    /* display: none; */
    color: var(--c2-c);
    margin: 2rem 0 0;
}

h1 span {
    display: block;
    color: var(--light);
}

.intro p {
    font-size: clamp(1.4rem, 3.8vmin, 1.8rem);
    font-weight: 500;
    line-height: 1.5;
    max-width: 73rem;
}

.intro p strong,
.intro p b {
    font-weight: inherit;
}

.intro p b {
    color: var(--c2-c);
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: clamp(2.5rem, 7.3vw, 4rem);
    margin: clamp(3rem, 8vw, 4rem) 0 1rem;
}

.content {
    font-size: clamp(1.4rem, 3.8vmin, 1.7rem);
    margin: clamp(3rem, 8vw, 6rem) 0 3rem;
}

.content ol,
.content ul {
    padding-inline-start: 2rem;
    margin: 0;
}

li::marker {
    color: var(--c1)
}

.content p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.content p strong {
    font-weight: inherit;
    color: var(--c2-c);
}

.content li p b {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    color: var(--light);
}

.content p b {
    font-weight: inherit;
    color: var(--c1);
}

.intro {
    /* text-align: center; */
    margin: 0 0 clamp(1rem, 4vw, 3rem);
}

.intro nav {
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    font-size: clamp(1.5rem, 4vw, 1.7rem);
    align-items: center;
}

.intro nav a {
    padding: 1rem 0;
}

.intro nav a:not(.current) {
    text-underline-offset: 0.4rem;
    color: var(--c2-e);
}

.intro nav a:not(.current):hover {
}

.intro nav a.current {
    color: var(--light);
}

.cta_ctnr {
    position: sticky;
    bottom: 0;
    background-color: var(--c2-d);
    padding: 2rem 0;
    border-top: 0.1rem solid var(--dark-a);
}

.cta_ctnr p {
    margin: unset;
    font-weight: 500;
    color: var(--c2-c);
    line-height: 1.3;
    font-size: clamp(1.4rem, 3.8vmin, 1.5rem);
    max-width: 18rem;
}

.cta_ctnr~p {}

.content .cta {
    background-color: var(--c2-b);
    /* margin: 2rem 0; */
    display: block;
    font-weight: 500;
    /* position: sticky; */
    /* bottom: 2rem; */
    /* box-shadow: 0 1rem 1rem 1rem var(--c2-d); */
    /* white-space: nowrap; */
    color: var(--light);
    padding: clamp(1rem, 3.5vw, 1.5rem) clamp(0.9rem, 4vw, 3rem);
}

.content sub {
    display: block;
    color: var(--c2-c);
}

.vishyvka {
    position: sticky;
    top: var(--header-height);
    z-index: 2;
}






.contact_ctnr {
    background-color: var(--c2-a);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 5rem 0;
    color: var(--header-height);
    font-weight: 500;
    width: 91%;
    height: 60%;
    z-index: 2;
    margin: 0 auto;
    overflow: auto;
    top: 50%;
    left: 0;
    right: 0;
    padding: 3rem 2rem 3rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    width: clamp(24rem, 84vw, 76rem);
    scroll-margin: var(--header-height);
}

.contact_ctnr .width {width: clamp(24rem, 72vw, 65rem);}

.contact_ctnr form {
    gap: 1.5rem;
}

.contact_ctnr .divider {
    color: var(--c2-c);
    font-weight: 600;
    margin-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}

.contact_ctnr .divider hr {border: unset;border-bottom: 0.1rem solid var(--c2-b);margin: 0.4rem 0;}


























@media (min-width:800px) {

    .intro nav {
        flex-direction: row;
    }

}