:root {
    --base-heading-size: clamp(2.6rem, 6.8vw, 5rem);
    --profile-photo-dimensions: clamp(4rem, 13vw, 7rem);
}

main article {
    margin-inline: auto;
    margin-bottom: clamp(4rem, 9vw, 10rem);
    width: clamp(24rem, 92vw, 75rem);
    font-size: clamp(1.5rem, 4vw, 1.7rem);
    line-height: 1.6;
    background-color: var(--light);
    padding: 2rem clamp(2rem, 5vw, 4rem);
    border-radius: 0.9rem;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
}

main article .content_ctnr {
    width: clamp(24rem, 85vw, 75rem);
}

.article_flex {
    display: flex;
    flex-flow: row wrap;
    gap:2rem;
}

main article p {
    margin-top: 1.5rem;
}

img.hero {
    display: block;
    object-fit: cover;
    object-position: center;
    background-color: var(--light-b);
    flex: 1;
    min-width: clamp(10rem, 40vw, 29rem);
    aspect-ratio: 3 / 4;
    height: fit-content;
    margin-bottom: calc(clamp(10rem, 70vw, 50rem) * -1);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
    line-height: 1.2;
}

sup a {
    color: var(--c2);
    font-weight: 600;
    background-color: var(--light-a);
    padding-inline: 0.2rem;
    border: 0.1rem solid transparent;
    border-radius: 0.2rem;
    margin-left: 0.1rem;
}

sup a:hover {
    border-color: var(--c2-e);
    background-color: var(--light);
}

article h2, article h3, article h4, article h5, article h6 {
    font-weight: 650;
    margin-block: 3rem 1rem;
}

h1 {
    font-size: var(--base-heading-size);
    line-height: 1.2;
}

h2 {
    font-size: calc(var(--base-heading-size) * 0.7);
}

h3 {
    font-size: calc(var(--base-heading-size) * 0.6);
}

h4 {
    font-size: calc(var(--base-heading-size) * 0.5);
}

h5 {
    font-size: calc(var(--base-heading-size) * 0.4);
}

h6 {
    font-size: calc(var(--base-heading-size) * 0.3);
}
time + hr {
    margin-bottom: 1rem;
}

.heading_ctnr {
    /* width: clamp(24rem, 84vw, 75rem); */
    margin-inline: auto;
    /* margin-top: 2rem; */
}

.heading_ctnr hr {
    border: unset;
    height: 0.2rem;
    background-color: var(--light-a);
}

article .messages > p, article blockquote, article ul, article ol {
    margin-bottom: clamp(1.2rem, 4vw, 1.8rem);
    line-height: 1.5;
    font-weight: 380;
    padding: clamp(1.1rem, 3vw, 1.8rem) clamp(1.5rem, 4vw, 2.4rem);
    border-radius: 1rem;
    border: 0.2rem solid var(--light-b);
    color: #4f5b55;
    margin-inline: unset;
}

article .messages > p {
    position: relative;
}

article .messages > p::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 2rem;
    border-top: 0.7rem solid var(--light-b);
    border-right: 0.7rem solid var(--light-b);
    border-bottom: 0.7rem solid transparent;
    border-left: 0.7rem solid transparent;
}

article ul, article ol {
    padding-left: 4rem;
}

blockquote {
    line-height: 1.5;
    font-style: italic;
}

b, strong {
    font-weight: 500;
    color: var(--dark-a);
}

mark {
    background-color: var(--c1);
}

.end_back {
    display: block;
    text-align: center;
    background-color: var(--c2);
    border: 0.1rem solid var(--c2-e);
    border-bottom: 0.5rem solid var(--c2-e);
    padding: 1rem 0;
    border-radius: 0.4rem;
    font-weight: 400;
    color: var(--light);
    margin-top: 4rem;
}

.footnotes ol {
    padding-inline: clamp(4rem, 5vw, 6rem);
}

.footnotes li {
    scroll-margin-top: calc(var(--header-height) + 3rem);
}















@media screen and (min-width:600px) {

    main article {
        padding-top: 5rem;
    }

    .article_flex {

    }

    img.hero {
        position: sticky;
        top: var(--header-height);
        height: calc(100vh - var(--header-height));
        aspect-ratio: unset;
        min-width: unset;
    }

    main article .content_ctnr {
        width: unset;
    }
}


@media screen and (min-width:800px) {
    img.hero {
        max-width: clamp(10rem, 29vw, 80rem);
    }

    main article {
        width: clamp(24rem, 55vw, 86rem);
        padding-inline: unset;
    }
}