:root {
    --base-heading-size: clamp(2.6rem, 8vw, 5rem);
    --profile-photo-dimensions: clamp(4rem, 13vw, 7rem);
}

main article {
    margin-inline: auto;
    margin-bottom: clamp(4rem, 9vw, 10rem);
    /* font-size: clamp(1.8rem, 4vmin, 1.9rem); */
}

main > .ctnr {
    width: clamp(24rem, 84vw, 75rem);
    margin-inline: auto;
    position: absolute;
    left:0;
    right:0;
    top: 2rem;
}

img.hero {
    display: block;
    width: 100%;
    height: clamp(5rem, 50vw, 28rem);
    object-fit: cover;
    object-position: bottom center;
    background-color: var(--dark);
}

.ai_disclaimer {
    margin-block: -2rem clamp(2rem, 5vw, 3rem);
    display: block;
    background-color: var(--light-b);
    color: var(--dark-a);
    text-align: center;
    border-radius: 0.4rem;
    padding: 1rem 1rem;
    font-size: clamp(1.5rem, 3.8vmin, 1.6rem);
    border-top: unset;
    position: relative;
    font-weight: 600;
}

.ai_disclaimer b {
    color: var(--c2-a);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
}

h2, h3, h4, h5, h6 {
    font-weight: 650;
    margin-block: 3rem 1rem;
}

h1 {
    font-size: var(--base-heading-size);
    line-height: 1.1;
}

h2 {
    font-size: calc(var(--base-heading-size) * 0.7);
}

h3 {
    font-size: calc(var(--base-heading-size) * 0.6);
}

h4 {
    font-size: calc(var(--base-heading-size) * 0.5);
}

h5 {
    font-size: calc(var(--base-heading-size) * 0.4);
}

h6 {
    font-size: calc(var(--base-heading-size) * 0.3);
}
time + hr {
    margin-bottom: 1rem;
}

article .messages > p, article blockquote, article ul, article ol {
    margin-bottom: clamp(1.2rem, 4vw, 1.8rem);
    line-height: 1.5;
    font-weight: 380;
    padding: clamp(1.1rem, 3vw, 1.8rem) clamp(1.5rem, 4vw, 2.4rem);
    border-radius: 1rem;
    border: 0.2rem solid var(--light-b);
    color: #4f5b55;
    margin-inline: unset;
}

article .messages > p {
    position: relative;
}

article .messages > p::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 2rem;
    border-top: 0.7rem solid var(--light-b);
    border-right: 0.7rem solid var(--light-b);
    border-bottom: 0.7rem solid transparent;
    border-left: 0.7rem solid transparent;
}


.message_ctnr {
    display: flex;
    gap: clamp(0.8rem, 3vw, 2rem);
    width: calc(clamp(24rem, 84vw, 75rem) + (var(--profile-photo-dimensions) / 2));
    margin-inline: auto;
    font-size: clamp(1.4rem, 4vmin, 1.85rem);
    padding-right: calc(var(--profile-photo-dimensions) / 2);
}

.messages {
    flex: 1;
    width: 100%;
}

.thumb {
    width: var(--profile-photo-dimensions);
    height: var(--profile-photo-dimensions);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem -1.2rem var(--dark);
}

.ia_photo .thumb {
    position: sticky;
    top: calc(var(--header-height) * 2);
    background-image: url(/ai-photo.jpg);
    border: 0.4rem solid var(--light-b);
}

.ia_photo hr {
    border: unset;
    height: calc(100% - var(--profile-photo-dimensions));
    width: 0.2rem;
    background-color: var(--light-b);
    margin: 0 auto;
    background-image: linear-gradient(0deg, var(--light) 0%, transparent 5%);
}
article ul, article ol {
    padding-left: 4rem;
}

blockquote {
    line-height: 1.5;
    font-style: italic;
}

b, strong {
    font-weight: 500;
    color: var(--dark-a);
}

mark {
    background-color: var(--c2-c);
}

.prompt {
    width: clamp(24rem, 84vw, 75rem);
    margin-inline: auto;
    position: relative;
}

.prompt .fabian {
    background-image: url(/fabian-thumb.jpg);
    border: 0.4rem solid var(--c2);
    position: absolute;
    z-index: 2;
    bottom: calc(var(--profile-photo-dimensions) * -0.9);
    right: 0;
}

.prompt p {
    background-color: var(--c2);
    position: relative;
    display: block;
    border-radius: 0.4rem clamp(2rem, 5vw, 4rem) 0 clamp(2rem, 5vw, 4rem);
    padding: 2rem clamp(2rem, 3vw, 4rem);
    margin-block: 0 clamp(3rem, 10vw, 8rem);
    color: var(--light-a);
    background-image: linear-gradient(170deg, #ffffff33, transparent 50%);
    line-height: 1.4;
    font-size: clamp(1.4rem, 4vmin, 1.9rem);
}

.indicator {
    text-transform: uppercase;
    font-weight: 650;
    color: var(--c2);
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    display: block;
    margin-block: 2rem 0.5rem;
}
 
.prompt p::before, .prompt p::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: calc(clamp(2rem, 5vw, 4rem) * -2 + 0.1px);
    width: calc(clamp(2rem, 5vw, 4rem) * 2);
    height: calc(clamp(2rem, 5vw, 4rem) * 2);
    z-index: -1;
}

.prompt p::before {
    background-color: var(--c2);
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform-origin: top right;
}

.prompt p::after {
    background-color: var(--light);
    border-radius: clamp(2rem, 5vw, 4rem);
    -webkit-border-radius: clamp(2rem, 5vw, 4rem);
    -moz-border-radius: clamp(2rem, 5vw, 4rem);
    -ms-border-radius: clamp(2rem, 5vw, 4rem);
    -o-border-radius: clamp(2rem, 5vw, 4rem);
}