---
const { title, language, description, keywords } = Astro.props;

import Header from '../components/Header.astro';
import Strip from '../components/Strip.astro';
import OQVABadge from '../components/OQVABadge.astro';
// import TCNBadge from '../components/TCNBadge.astro';

import CookieConsentBanner from '../components/CookieConsentBanner.astro';

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS, OG_IMAGE, BRAND_NAME, LEGAL_NAME, FACEBOOK_URL, LINKEDIN_URL, GOV_REGISTRY, TEL_HREF } from "../consts";

import BaseHead from '../components/BaseHead.astro';
---

<!DOCTYPE html>
<html lang={!language ? "en" : language}>
	<BaseHead 
	title={title ? title : SITE_TITLE}
	description={description ? description : SITE_DESCRIPTION}
	keywords={keywords ? keywords : SITE_KEYWORDS} />

	<body>
		<Strip></Strip>
		<Header></Header>
		<slot />
		<Strip></Strip>
		<CookieConsentBanner></CookieConsentBanner>

		<!-- <TCNBadge></TCNBadge> -->
		<OQVABadge></OQVABadge>
	</body>
</html>
