--- 
interface Props {
	title: string;
	language?: string;
}

const { title, language } = Astro.props;

import '../css/global.css'

import Header from '../components/Header.astro';
import Strip from '../components/Strip.astro';
import OQVABadge from '../components/OQVABadge.astro';
// import TCNBadge from '../components/TCNBadge.astro';

import CookieConsentBanner from '../components/CookieConsentBanner.astro';
---

<!DOCTYPE html>
<html lang={!language ? "en" : language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="We're a socially conscious cleaning company in Oxfordshire, committed to making a difference in the lives of female Ukrainian refugees.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Strip></Strip>
		<Header></Header>
		<slot />
		<Strip></Strip>
		<CookieConsentBanner></CookieConsentBanner>

		<!-- <TCNBadge></TCNBadge> -->
		<OQVABadge></OQVABadge>
	</body>
</html>
